{% extends "layout.html" %}

{% block title %}
   BUY
{% endblock %}

{% block main %}
    <h2>Passwords</h2>
    <div class="mx-5">
        <table class="table">
            <thead class="th">
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Password</th>
              </tr>
            </thead>
            <tbody >
                {% for key in real_pass %}
                <tr class="tr">
                  <td>{{key}}</td>
                  <td>{{real_pass[key]}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
