{% extends "layout.html" %}

{% block title %}
   Quote
{% endblock %}

{% block main %}
<h2>Add Your Tasks!</h2>
    <form action="/tasks" method="post">
        <div class="mb-3 mt-5">
            <h4>Task</h4>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="task" placeholder="Enter Task" type="text">
        </div>
        <div class="mb-3">
            <h4>Deadline</h4>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="deadline" placeholder="Deadline" type="date">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
